
{{#each destination as |destination|}}

<div class="card" id="top5"><a href="http://localhost:3333/destination/{{destination.lookupName}}">
    <div class="card-header" >
       <h5> Travel Dates: {{destination.departure}} - {{destination.arrival}} </h5>
        </div>
        <img src={{destination.url}} class="card-img-top" alt="...">
        <div class="card-body text-secondary">
          <h5 class="card-title">{{destination.destination_name}}</h5>
          <p class="card-text">{{destination.description}}</p>
            <p class="card-text">This adventure is specifically designed to group you with other travelers to enjoy <strong>The Trip of A Life Time</strong>!! Note: Booking here reserves you seat on this adventure. Our top travel agents will connect with you to provide all official travel information.
            <p><small>All travel arrangements will be made with TravelersRus.com</small> </p>
            <a href="http://localhost:3333/form" class="btn btn-warning btn-lg">Book Now!</a>
          </div>
      </a>{{/each}}</div>
     